:root {
    --headerBackgroundColor: rgb(255, 255, 255);

}

header {
    display: flex;
    justify-content: space-between; /* Push items to opposite ends */
    align-items: center; /* Center elements vertically */
    padding: 0.5em;

    background-color: var(--headerBackgroundColor);
    box-shadow: 3px 3px 15px 0px rgb(224, 218, 218);
}

a {
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease-in-out;
}

a:hover {
    opacity: 0.7;
}

#title {
    margin: 0;
    font-size: larger;
    max-width: 70vw;
}

#menuSVG {
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    right: 1.6em;
}

.menuBtn {
    stroke: #fff;
    fill: var(--headerBackgroundColor);
    fill-opacity: 0;
    stroke-opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}
.menuBtn:hover {
    fill-opacity: 0.5;
}

#dropdownMenu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
    height: auto;
    position: absolute;
    top: 4em;
    right: 2%;
    overflow: hidden;
    max-height: 0px;
    background-color: white;
    border-radius: 10px;
    
}

#dropdownMenu.open-menu {
    max-height: 400px;
    box-shadow: 5px 5px 10px rgb(231, 230, 230);
}

@media only screen and (min-width: 700px){
    header {
        display: flex;

    }

    #menuSVG {
        display: none;
    }
    
    #dropdownMenu {
        position: initial;
        display: flex;
        flex-direction: row;
        max-height: none;
        background-color:unset;
    }
}
