:root {
    --color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    height: 100vh;

    flex-direction: column;
    align-items: center;
    align-content: center;

    gap: 1em;
}

main {
    flex: 1 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-shrink: 0;

    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

header>p {
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
}

nav>* {
    padding: 1em;
}

h1 {
    text-align: center;
    padding: 1em;
}

div {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

footer {
    height: 2em;
    flex-shrink: 0;
}