body {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

button {
  align-self: center;
  width: 2em;
  height: 2em;
  align-content: center;
  border: solid 1px;
}

.dropdown:hover{
  opacity: 0.3;
}