@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /*font-family: 'Inter', sans-serif;*/ 

        /*---General---*/


:root {
    --grey: #e9e9e9; /*bckgrnd grey*/
    --cyan: rgb(0, 146, 146);

}


body {
    background: linear-gradient(100deg, white 0%, #d3d3d3 100%);
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
}

.html {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#uvod-svg {
    position: fixed;
    top: 1em; left: 1em;
    width: 2em; height: auto;

}
header {
    box-sizing: border-box;
    position: fixed; top: 0;
    height: 7em; width: 100%;
    border-bottom: var(--cyan) solid; background-color: var(--grey);
    display: flex;
    align-items: center; justify-content: space-between;
    column-gap: 1em;
}
.nav-logo {
    height: 100%;
    width: auto;
}
.navigace {
    padding: 1em; border: black solid 1px;
    border-radius: 10px;
}
.navigace > a {
    text-decoration: none;
    padding: 1em;
    font-family: 'Pacifico', cursive; font-size: 1.1em;
    color: black;
    text-align: center;
    user-select: none;
}
.navigace-smajlik {
    padding-right: 1em;
    height: 2em; width: auto;
}
.navigace > a:hover {
    color: var(--cyan);
}
.navigace:hover {
    border: var(--cyan) solid 1px;
}

footer {
    padding-bottom: 0.5em; 
    margin: auto; margin-top: 2em;
    width: 60%;
    text-align: center; font-family: 'Inter', sans-serif;
    border-top: var(--cyan) solid;
}
footer > a > img {
 width: 2em;
 margin-top: -1em;
}
footer > a {
    text-decoration: none;
    color: black;   
}
footer > a:hover {
    color: var(--cyan);
}
footer > a > img:hover {
    opacity: 70%;
}


@media only screen and (max-width: 830px) {
    header {
        flex-direction: column;
        padding-bottom: 0.5em;
        height: auto;
        row-gap: 1em;
    }
    .navigace-smajlik {
        position: absolute;
        top: 1px; left: 1px;
        height: 1.5em; width: auto;
    }
    .nav-logo {
        height: 5em; width: auto;
    }
    
}

@media only screen and (max-width: 550px) {
    
    header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5em;
        position: static;
    }
    .navigace {
        display: flex;
        flex-direction: column;
    }
    .navigace > a {
        padding: 0;
    }
    .galery_grid {
        margin-top: 0;
    }
}



        /*-----------------Uvod-----------------*/

.uvod {
    margin: auto;
    padding-top: 15em;
    padding-bottom: 5em;
    width: 100%;
    background-size: cover; background-position: 40% 20%;
    background-image: url(CHS-AI-03.png); 
    background-repeat: no-repeat;
    /*background-blend-mode: multiply;*/
}
.uvod > h1 {
    width: full;
    text-align: center;
    color: black;
    margin-left: auto; margin-right: auto;
    padding-left: 1em; padding-right: 1em;
    text-shadow: 1px 1px 20px black;
    background: linear-gradient(to right, rgba(132, 234, 241, 0.1), rgba(58, 237, 250, 0.4), rgba(113, 237, 241, 0.1))
}

.main-uvod {
    margin: auto;
    box-sizing: border-box;
    width: 70%; padding: 1em;
    background-color: var(--grey);
    border-radius: 10px;
    border: lightgrey solid 1px; box-shadow: 3px 3px 15px grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
}

.logo-uvod {
    margin: auto;
    margin-top: -1em; margin-bottom: -1em;
    width: 15%; min-width: 50px;
}

.main-uvod > h2 {
    margin: auto; text-align: center;
    font-weight: 100;
    font-family: 'Pacifico';
    color: var(--cyan);
}

.main-uvod > nav {
    margin: auto; 
    display: flex;
    flex-wrap: wrap; justify-content:space-evenly ;
    column-gap: 1em;
    box-sizing: border-box;
    width: 80%;
    padding: 1em; padding-left: 2em; padding-right: 2em; border: black solid 1px;
    border-radius: 10px;
    
}
.main-uvod > nav > a {
    text-decoration: none;
    font-family: 'Pacifico', cursive; font-size: 1.2em;
    color: black;
    text-align: center;
}
.main-uvod > nav > a:hover {
    color: var(--cyan);
}
.main-uvod > nav:hover {
    border: var(--cyan) solid 1px;
}
    
.main-uvod > h3 {
    margin: auto; text-align: center;
    font-family: 'Inter', sans-serif; color: rgb(2, 94, 94);
}
.main-uvod > div > p {
    margin: auto; text-align: center;
    font-family: 'Inter', sans-serif;
}

.text-uvod {
    display: flex; 
    color: black;
    font-size: 1.2em;
    flex-direction: column;
    row-gap: 1em;
    margin: auto;
    width: 80%;
}

#FB-link-text {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
}
#FB-link-text:hover {
    color: var(--cyan);
}


.galerie-uvod {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%; row-gap: 1em;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box; width: 80%;
}
.galerie-uvod > a {
    width: 47.5%; height: 15vw;
    min-width: 150px;
}
.galerie-uvod-fotka {
    width: 100%; height: 100%;
    object-fit: cover; object-position: right;
    border: lightgray solid 2px;
    border-radius: 10px;
    transition: transform 1s;
}
.galerie-uvod-fotka:hover {
    transform: scale(1.1);
    width: 100%; height: auto;
    border: none; border-radius: none;
    object-fit: contain;
    box-shadow: 10px 10px 10px grey;
}

iframe {
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 80%;
    aspect-ratio: 16/9;
}


@media only screen and (max-width: 800px) {
    .uvod > h1 {
        font-size: 1.3em;
    }
    .main-uvod {
        width: 100%;
    }
    .main-uvod > h2 {
        font-size: 1.2em;
    }
    .main-uvod > nav {
        width: auto;
    }
    .galerie-uvod-fotka {
        height: 120%;
    }
    .main-uvod {
        padding-bottom: 2em;
    }
}

@media only screen and (max-width: 550px) {
    .main-uvod > nav {
        width: auto; flex-direction: column;
    }
}


    /* ------------------ O nás ----------------- */

.main-o-nas {
    font-family: 'Inter', sans-serif; text-align: center;
    overflow: hidden; font-size: 1.1em;
    
    margin: auto; margin-top: 8em;
    box-sizing: border-box;
    width: 60%; padding: 1em;
    background-color: var(--grey);
    border-radius: 10px;
    border: lightgrey solid 1px; box-shadow: 3px 3px 15px grey;
}
.main-o-nas > h2 {
    font-size: 1.4em; color: var(--cyan);
    font-weight: 100; font-family: 'Pacifico', cursive;
}

.main-o-nas p{
    line-height: 25px;
    margin: auto;
    width: 85%;
}

.o-nas-photo-right {
    margin: auto;
    min-width: 100px;
    float: right;
    padding: 10px;
    padding-left: 20px;
    padding-right: 2.3em;
    min-width: 150px;
}

.o-nas-photo-left {
    margin: auto;
    min-width: 100px;
    float: left; 
    padding: 10px;
    padding-left: 2.3em;
    padding-right: 20px;
    min-width: 150px;
}

@media only screen and (max-width: 850px) {
    .main-o-nas {
        margin-top: 11.5em;
    }
    .o-nas-photo-left {
        float: none;
        padding: 0;
        padding: 0.6em;
        min-width: 200px;
    }
    .o-nas-photo-right {
        float: none;
        padding: 0;
        padding: 0.6em;
        min-width: 200px;
    }
}
@media only screen and (max-width: 550px) {
    .main-o-nas {
        margin-top: -0.5em;
        width: 95%;
    }
}




    /*--------------galery------------*/


.galery_grid {
    margin: auto; margin-top: 10em;
    background-color: var(--grey);
    width: 70%;
    padding: 1em; 
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 23vw;
    row-gap: 2px;
    column-gap: 2px;
    justify-items: center;
    align-items: center; 

    border: lightgrey solid 1px; box-shadow: 3px 3px 15px grey;
}
.galery_grid > div {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.galery_grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 830px) {
    .galery_grid {
        margin-top: 12em;
        border-radius: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: 35vw;
        gap: 1px 1px;
    }
}
@media only screen and (max-width: 550px) {
    .galery_grid {
        margin-top: 2em;
        width: 90%;
        grid-auto-rows: 50vw;
    }
}

        /* -------- Kontakt ------------- */

.main-kontakt {
    font-family: 'Inter', sans-serif; text-align: center;
    overflow: hidden; font-size: 1.1em;
        
    margin: auto; margin-top: 8em;
    box-sizing: border-box;
    width: 60%; padding: 1em;
    background-color: var(--grey);
    border-radius: 10px;
    border: lightgrey solid 1px; box-shadow: 3px 3px 15px grey;    
}
.main-kontakt > h2 {
    font-size: 1.4em; color: var(--cyan);
    font-weight: 100; font-family: 'Pacifico', cursive;
}
#main-kontakt-zkusebni_fotka {
    width: 16em; height: 9em;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 10px;
    margin: 1em;
}

.form-item {
    display: flex;
    justify-content: flex-end;
}
form {
    width: 10em;
    margin: auto;
}

.input1 {
    width: 18em;
    margin-left: 0.5em;
}
.input2 {
    width: 6em;
}





@media only screen and (max-width: 830px) {
    .main-kontakt {
        margin-top: 11em;
    }
    .main-kontakt > h2 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 550px) {
    .main-kontakt {
        margin-top: 2em;
        width: 97%;
    }
    .input1 {
        width: auto;
    }
    .form-item {
        justify-content: center;
    }
}

form > div {
    padding-bottom: 0.2em;
}


        /* -------- Nasi-psi ------------ */

.main-nasi-psi {
    font-family: 'Inter', sans-serif; text-align: center;
    overflow: hidden; font-size: 1.1em;
        
    margin: auto; margin-top: 8em;
    box-sizing: border-box;
    width: 60%; padding: 1em;
    background-color: var(--grey);
    border-radius: 10px;
    border: lightgrey solid 1px; box-shadow: 3px 3px 15px grey;
}
.main-nasi-psi > h2 {
    font-size: 1.4em; color: var(--cyan);
    font-weight: 100; font-family: 'Pacifico', cursive;
}

.main-nasi-psi > article {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}
.main-nasi-psi > article > img {
    width: 60%;
    aspect-ratio: 16/9;
    max-width: 300px;
    margin: 1em;
    border: 1px solid gray;
    border-radius: 10px;
    object-fit: cover;
}
#nasi-psi-Ashley-img {
    object-position: top right;
}
#nasi-psi-Arwen-img {
    object-position: 40% 25%;
}

h3 {
    font-size: 1.2em;
}
.nasi-psi-Arwen {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

table {
    margin-top: 2em;
    margin: auto;
    padding: 0.2em;
    width: 100%;
    height: 15em;
    background-color: var(--grey);
    border: rgb(201, 200, 200) 0.5px solid;
    border-radius: 10px;
}
th {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.table-plemeno {
    min-width: 10em;
}
td {
    font-size: 0.8em;
}

@media only screen and (max-width: 1050px) {
    td {
        display: block;
        padding-top: 0.1em;
    }
    th {
        display: none;
    }
    tr:nth-of-type(3) {
        display: block;
        padding-top: 0.5em;
        border-top: 1px solid lightgray;
    }
    td::before {
        content: attr(data-cell) ": ";
        font-weight: 600;
        text-transform: capitalize;
    }
    table {
        width: auto;
        padding: 0.7em;
    }
}
        
@media only screen and (max-width: 830px) {
            .main-nasi-psi {
                margin-top: 11em;
            }
            .main-nasi-psi > h2 {
                font-size: 1.2em;
            }
            h3 {
                font-size: 1em;
            }
        }

@media only screen and (max-width: 550px) {
            .main-nasi-psi {
                margin-top: 2em;
                width: 97%;
            }
        }
    

        /*  smazat ohraničení u navigace
            predelat nazvy
        */
        
